 /* Дополнительные элементы */

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
  
 .elem__test {
     position: absolute;
     left: 35vw;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 500px;
     height: 300px;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
     background-color: #ff3cac;
     background-image: linear-gradient(
         225deg,
         #ff3cac 0%,
         #784ba0 50%,
         #2b86c5 100%
     );
     border: 1px solid #2b86c5;
 }
 .search-box{
     position: relative;
     width: 300px;
     height: 60px;
 }
 .search-box input {
     height: 100%;
     width: 100%;
     border: none;
     background: #fff;
     font-size: 18px;
     border-radius: 50px;
     padding: 0 30px 0 10px;
     outline: none;
 }
 .search-box .search-btn{
     position: absolute;
     top: 50px;
     width: 50px;
     height: 50px;
     background: #c9c4ce;
 }
