  /* Дополнительные элементы */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
  
  .elem__test {
      margin: 0;
      padding: 0;
      width: 300px;
      height: 300px;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
      background-color: #ff3cac;
      background-image: linear-gradient(
          225deg,
          #ff3cac 0%,
          #784ba0 50%,
          #2b86c5 100%
      );
      border: 1px solid #2b86c5;
  }