html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    /* height: 100%; */
}
ol, ul, ul, li {
    list-style: none;
    text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    font-family: 
}
.start {
    position: absolute;
    width: 300px;
    background: url('./img/Lighting.png') center no-repeat;
    top: 36.5vh;
    left: 39.2vw;
    z-index: 100;
}
@media screen and (min-width: 1380px){
    .start {
        top: 36.5vh;
        left: 39.1vw;
    }
}
@media screen and (min-width: 1390px){
    .start {
        top: 36.5vh;
        left: 40.1vw;
    }
}
@media screen and (min-width: 1650px){
    .start {
        top: 36.5vh;
        left: 41vw;
    }
}
@media screen and (min-width: 1768px){
    .start {
        top: 36.5vh;
        left: 41.5vw;
    }
}
@media screen and (min-width: 1850px){
    .start {
        top: 36.5vh;
        left: 41.9vw;
    }
}
@media screen and (min-width: 2150px){
    .start {
        top: 36.5vh;
        left: 43vw;
    }
}

.indent{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu_title{
    font-size: 3em;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #BED002;
}
.button_start {
    width: 200px;
    border: 0;
    font-family: Georgia, serif;
    font-weight: 500;
    font-size: 2em;
    padding: 15px 15px;
    background: transparent;
    color:#0D323A;
    cursor: pointer;
}
.button_start:hover, .button_start_portfolio:hover{
    background: #092E37;
    box-shadow: inset 4px 4px #07242C;
    transition: 0.9s;
    -webkit-transition: 0.9s;
    -moz-transition: 0.9s;
    -ms-transition: 0.9s;
    -o-transition: 0.9s;
    color: #95B300;
}
.button_start_portfolio{
    width: 250px;
    border: 0;
    font-family: Georgia, serif;
    font-weight: 500;
    font-size: 2em;
    padding: 15px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: transparent;
    color:#0D323A;
    cursor: pointer;
}
.none{display:none;}

.hide{display:none;}
.car{
    width: 50px;
    height: 100px;
    background:transparent url('./img/car/car.png') center / cover no-repeat;
    position: absolute;
    left: 125px;
    bottom: 10px;
}
.close_game{
    display: flex;
    position: absolute;
    top: 20px;
    background: #263238;
    color: white;
    left:20px;
    margin: 15px 15px;
    padding: 15px 15px;
    opacity: 0;
}
.close_game span {
    color:red;
}
.ruls_game{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 400px;
    font-size: 3em;
    top: 20px;
    background: #263238;
    color: white;
    right:20px;
    margin: 15px 15px;
    padding: 15px 15px;
    opacity: 0;
    z-index: 2;
}
.arrow{
    background: transparent url('/img/arrow/arrow2.png') center no-repeat;
    display: flex;
    justify-content: center;
    height: 245px;
}
.open{
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.start_again{
    display: block;
}
.gameArea{
    width: 300px;
    height: 100vh;
    position: relative;
    margin: 0 auto;
    background: #222;
    overflow: hidden;
}
.line{
    position: absolute;
    width: 10px;
    height: 50px;
    background: #fff;
    left: 145px;
}