.open{opacity: 1;}
.none{display: none;}
body{
    font-family: "PT Serif","Times New Roman",Times,Baskerville,Georgia,serif;
    width: 100%;
    min-height: 100vh;
    color: #222;
    line-height: 0.125vmax;
    font-size: 1.12vmax;
    background-image: transparent url('../img/bg_1.jpg');
}
.nav_box {
    position: fixed;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 80vw;
    max-width: 80vw;
    margin: 0 150px;
    padding: 40px 25px;
    background-color: rgb(255, 255, 255);
}
.img_header{
    margin-right: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
}
.nav_header{
    display: flex;
    justify-content: center;
}
.nav_item{
    padding-right: 100px;
}
.nav_item a{
    position: relative;
    font-size: 1em;  /*1.12vmax;*/
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 10px;
    /* overflow: hidden; */
}
.nav_item a::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: orange;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
}
.nav_item a:hover:before{
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}
.nav_box nav li div {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    z-index: -50;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: all 1s ease-out;
    transform: translateY(100%);
}
.nav_box nav li a:hover ~ div {
    opacity: 0.7;
    transition: all 1s ease-out;
    transform: translateY(0%);
}
/* .nav_box nav li:nth-of-type(1) div {
    background-image: url('../img/slide/1.png');
}
.nav_box nav li:nth-of-type(2) div {
    background-image: url('../img/slide/2.png');
}
.nav_box nav li:nth-of-type(3) div {
    background-image: url('../img/slide/3.png');
} */
.search_header {
    cursor: pointer;
}
.close_search {
    display: none;
    font-size: 2em;
}

.search_form{
    position: fixed;
    width: 100%;
    height: 91vh;
    /* top:70px; */
    left:0;
    z-index: 100;
    opacity: 0;
    transform: translateY(-150%);
    background-color: #fff;
}
.open_search{
    opacity: 1;
    transform: translateY(0);
    transition: .5s;
}
.search_up{
    position: fixed;
    width: 100%;
    height: 95vh;
    top:96px;
    left:0;
    z-index: 100;
    opacity: 0;
    transform: translateY(-150%);
    background-color: #fff;
}
.search_form p {
    padding-top: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 3.33vmax;
    margin: 0 auto;
}
.search_field{
    /* display: flex; */
    padding: .5em .3em;
    min-width: 83.33vw;
    border: none;
    border-bottom: 1px solid orange;
    text-align: center;
    font-size: 5em;
}
.input_field{
    display: none;
}
.input_field::before{
    position: absolute;
    content: '\2b9e';
    width: 2em;
    top: 0;
    left: 0;
    cursor: pointer;
}
main {
    padding-top: 115px;
}
.container{
    max-width: 90.81vw;
    min-width: 90.81vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* overflow-x: hidden; */
    height: 84.3vh;
}
.posts{
    display: flex;
    max-width: 350px;
    min-height: 350px;
}