.hide{display:none;}
.car{
    width: 50px;
    height: 100px;
    background:transparent url('./img/car/car.png') center / cover no-repeat;
    position: absolute;
    left: 125px;
    bottom: 10px;
}
.gameArea{
    width: 300px;
    height: 100vh;
    position: relative;
    margin: auto;
    background: #222;
}
.line{
    position: absolute;
    width: 10px;
    height: 50px;
    background: #fff;
    left: 145px;
}